<h2 id="title">Welcome to Ember.js</h2>

{{ember-combobox dataSource=states
                 value=state
                 on-input="filterStates"
                 on-select="selectState"
                 optionValuePath="id"
                 optionLabelPath="name"
                 placeholder="Pick a state"}}

{{outlet}}
