<h2 id="title">Rate Combobox example</h2>

{{ember-combobox dataSource=rates
                 value=currentRate
                 valueChanged="rateChanged"
                 on-select="selectState"
                 optionValuePath="id"
                 optionLabelPath="name"
                 selectedValuePath="id"
                 placeholder="Pick a rate"}}

{{outlet}}
